<strong>Olá, {{ devliveryman.name }} </strong>
<p>Há um agendamento para uma entrega, segue os detalhes:</p>
<p>
  <strong>Cliente: </strong> {{ recipient.name }} <br />

  <strong>Endereço: </strong> {{ recipient.street }}, {{ recipient.number }} <br />
  <br />
  <small>
    O horário está novamente disponível para novos agendamentos.
  </small>
</p>
